<!doctype html>
<html lang="en" manifest="manifest.appcache">
<head>
  <title>sonata in blue</title>
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="quack.space">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta property="og:image" content="/static/images/og-image.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/images/ms-icon-144x144.png">
  <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <link href="/static/bower_components/polymer/polymer.html" rel="import">
  <link href="/static/bower_components/iron-icons/iron-icons.html" rel="import">
  <link href="/static/bower_components/iron-flex-layout/classes/iron-flex-layout.html" rel="import">
  <link href="/static/bower_components/paper-input/paper-input.html" rel="import">
  <link href="/static/bower_components/paper-button/paper-button.html" rel="import">
  <link href="/static/bower_components/paper-spinner/paper-spinner.html" rel="import">
  <link href="/static/bower_components/paper-card/paper-card.html" rel="import">
  <link href="/static/bower_components/paper-drawer-panel/paper-drawer-panel.html" rel="import">
  <link href="/static/bower_components/paper-header-panel/paper-header-panel.html" rel="import">
  <link href="/static/bower_components/paper-toolbar/paper-toolbar.html" rel="import">
  <link href="/static/bower_components/paper-icon-button/paper-icon-button.html" rel="import">
  <link href="//fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet" type="text/css">
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/jquery.transit.min.js"></script>
  <script src="/static/js/main.js"></script>
</head>
<body unresolved class="fullbleed layout vertical">
<paper-header-panel>
  <paper-toolbar style="background:#333333">
    <paper-icon-button id="nav-back" style="color:#ffffff;width:40px;margin:0px;padding:5px;" onclick="doNavBack();" icon="arrow-back"></paper-icon-button>
    <paper-icon-button id="nav-menu" style="color:#ffffff;width:40px;margin:0px;padding:5px;" icon="menu"></paper-icon-button>
    <div class="title"><img src="/static/images/logo.png" style="margin-left:12px;height:20px;"></div>
    <paper-icon-button icon="more-vert"></paper-icon-button>
  </paper-toolbar>
  <div class="fit">

<div id="viewpager" class="viewpager"><div class="viewpager-fragments">


  <div id="fragment-results" class="viewpager-fragment">
    <div id="div-input" style="padding-left:20px;padding-right:20px;padding-bottom:20px;padding-top:10px;background:#ffffff;">
      <paper-input id="input-search" label="Search for scores ..."></paper-input>
    </div>
    <div id="div-results" style="padding:20px;">
    <div id="div-results-spinner" style="text-align:center;display:none;"><paper-spinner active></paper-spinner></div>
    {% raw %}
    <template id="results" is="dom-bind">
      <template is="dom-repeat" items="{{data}}">
        <paper-card on-click="doResultsCard">
          <div class="card-body"><div style="font-size:18px;">{{item.title}}</div></div>
        </paper-card>
      </template>
    </template>
    {% endraw %}
    </div>
    <div id="div-ack" style="padding:40px;color:#a0a0a0;font-size:11px;text-align:center;">
      Powered by <a href="http://google.com/">Google</a> and <a href="http://imslp.org">IMSLP</a>.
    </div>
  </div>
  <div id="fragment-scores" class="viewpager-fragment" style="left:100vw;overflow-y:auto;overflow-x:hidden;">
    <div id="div-scores" style="padding:20px;">
    <div id="div-scores-spinner" style="text-align:center;display:none;"><paper-spinner active></paper-spinner></div>
    {% raw %}
    <template id="scores" is="dom-bind">
      <template is="dom-repeat" items="{{data}}">
        <template is="dom-if" if="{{item.isH3}}">
          <h3>{{item.text}}</h3>
        </template>
        <template is="dom-if" if="{{item.isH4}}">
          <h4>{{item.text}}</h4>
        </template>
        <template is="dom-if" if="{{item.isH5}}">
          <h5>{{item.text}}</h5>
        </template>
        <template is="dom-if" if="{{item.isScore}}">
          <paper-card>
            <div class="card-body">
              <div style="float:right;"><img src="{{item.thumb}}" style="width:100px;border-left:10px solid white;"></div>
              <div style="color:#808080;font-size:16px;margin-bottom:5px;">{{item.publisher}}</div>
              <div style="color:#b0b0b0;font-size:12px;text-transform:uppercase;margin-bottom:10px;">{{item.copyright}}</div>
              <div style="border-top:1px solid #d0d0d0;margin-top:10px;margin-bottom:10px;"></div>
              <template is="dom-repeat" items="{{item.files}}" as="file">
                 <div><paper-button on-click="doFile">{{ file.description }}</paper-button></div>
              </template>
            </div>
          </paper-card>
        </template>
      </template>
    </template>
    {% endraw %}
    </div>
  </div>

  <div id="fragment-viewer" class="viewpager-fragment" style="left:200vw;overflow:hidden;">
    <iframe id="iframe-viewer" src="/static/pdfjs/web/viewer.html" style="width:100%;height:100%;padding:0;border:0;margin:0;"></iframe>
  </div>

</div></div>

  </div>
</paper-header-panel>
</body>
</html>
